.footer {
    background-color: #1e1a1a;
    color: aliceblue;
    padding: 1rem 2rem;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    
  }
  